<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webrtc messaging</title>
  </head>

  <body>
    <h1>Send messages peer to peer</h1>

    <!-- These paragraphs will be initialized when the connection has been established -->
    <p id="yourname"></p>
    <p id="remotename"></p>

    <button id="connectbutton">Connect with peer</button>

    <!-- Import SocketIO for signalling -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Import WebRTC adapter for compatibility with all the browsers  -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <script src="js/config.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
